extends layout


block content
  

  div(label='Upper panel')
    a(href='https://www.obrainlab.com')
      img(src='http://localhost:3000/img/logo-default-full.png' width='150px')
  p Hello!
  // p #{JSON.stringify(user)} codes 
  div(label='title')
    h1(align='center')= title
  div(class= 'inner' align='center' label='Assessments')
    h3 Try Assessments from neuroPOD Battery
    br
    a(class='button_shdw' href='http://localhost:9000/publix/PuBad9rUrOG') Backwards Digit Span
    br
    br
    a(class='button_shdw' href='http://localhost:9000/publix/FElt04UtNll') Delay Discounting
    - console.log('Home page rendered\n')
    br
    br
    br
    br
    h3 Participate in neuroPOD Study
    p If you would like to get notified
    p when we start recruitment, click 
    p the button below.
    |
    a(class='button_no_shdw' href='https://elomake.helsinki.fi/lomakkeet/132391/lomake.html') Participate
    br
    br
    |
    p Thank you!
